.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px;
    height: 100%;
    gap: 48px;
    width: 100%;
    background-color: var(--main-theme-light);
}

.dashContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mealsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    overflow-x: auto;
}