.mealContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: var(--main-theme-dark-grey);
    flex: 1;
    max-width: 488px;
}

.mealDiv {
    width: 488px;
    height: 153px;
    background-color: var(--main-theme-medium);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.dummyDiv {
    width: 488px;
    height: 24px;
    background-color: var(--main-theme-medium);
    position: relative;
    bottom: 24px;
}