:root {
    --mobile-bar-height: 8.0rem;
}

.bar {
    width: 100%;
    max-height: var(--mobile-bar-height);
    background-color: var(--surface);
    display: flex;
    flex-direction: row;
    padding: 1.6rem 2.4rem;
    justify-content: center;
    border-top: 1px solid var(--neutral); 
}

.iconDiv {
    display: flex;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    flex: 1;
}

.icon {
    font-size: 4.8rem;
    stroke-width: 1;
    color: var(--text-primary);
}
.icon2 {
    font-size: 4.8rem;
    color: var(--text-primary);
}

