.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.title {
    color: var(--accent);
    font-size: 2.4rem;
    width: 100%;
}

.button > button {
    font-size: 1.2rem;
    height: 4.0rem;
    text-wrap: nowrap;
    border-radius: 1.5rem;
    padding: 0.8rem;
}

.button {
    flex: 1;
}

.formContaier {
    display: flex;
    width: 100%;
}