.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    color: white;
    margin-right: auto;
    height: 16px;
}

.input {
    width: 100%;
    padding: 8px;
}

.input::placeholder {
    font-weight: bolder;
    color: var(--main-grey-medium);
}

.input:active .input:focus {
    border: 0 none;
    outline: 0;
}