.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.label {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    color: var(--main-theme-white);
    margin-right: auto;
    height: 16px;
}

.input {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.input::placeholder {
    font-weight: bolder;
    color: var(--main-theme-light-grey);
}

.input:focus {
    border: 1px solid var(--main-grey-light);
    outline: 0;
}